:host.ng-touched.ng-invalid input {
  border-color: rgb(204, 10, 10);
  color: rgb(204, 10, 10);
}

.date-block input,
.duration-block input {
  display: inline-block;
  width: 20%;
}

.course-duration {
  margin-left: 20px;
}
