<div class="card course-item">
  <div class="card-header {{courseItem.create_date | courseClass}}">
    <div class="course-title">
      <h4>{{courseItem.title | uppercase}}</h4>
      <span *ngIf="courseItem.rating"><i class="far fa-star"></i>x{{courseItem.rating}}</span>
    </div>
    <span class="course-duration">{{courseItem.duration}}min</span>
    <span class="course-date">{{courseItem.create_date}}</span>
  </div>
  <div class="card-body">
    <p class="course-description">{{courseItem.description}}</p>
    <div class="course-buttons">
      <button (click)="editCourse()" type="button" class="btn btn-outline-dark edit-button btn-sm">Edit</button>
      <button (click)="deleteCourse()" class="btn btn-dark delete-button btn-sm">Delete</button>
    </div>
  </div>
</div>