:host.ng-invalid.ng-touched input {
  border-color: rgb(204, 10, 10);
  color: rgb(204, 10, 10);
}

.help {
  display: none;
}

:host.ng-invalid.ng-touched .help {
  display: block;
  border-color: rgb(204, 10, 10);
  color: rgb(204, 10, 10);
}
