:host.ng-touched.ng-invalid .authors-wrapper {
  border-color: rgb(204, 10, 10);
  color: rgb(204, 10, 10);
}

.authors-wrapper {
  display: flex;
}

.authors-input {
  border: none;
  flex: 1;
}

.authors-input:focus {
  outline: none;
}
