<form [formGroup]="course">
  <div class="form-group">
    <label for="courseTitle">Title</label>
    <input formControlName="name" name="courseTitle"
      type="text" id="courseTitle" class="form-control">
  </div>
  <div class="form-group">
    <label for="courseDescription">Description</label>
    <textarea formControlName="description" name="courseDescription"
      class="form-control" id="courseDescription" rows="4"></textarea>
  </div>
  <div class="form-group">
    <label for="courseDate">Date</label>
    <div class="date-block">
      <input formControlName="date" name="courseDate"
        type="date" id="courseDate" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="courseDuration">Duration</label>
    <div class="duration-block">
      <input formControlName="length" name="courseDuration"
        type="number" id="courseDuration" class="form-control">
      <span class="course-duration">{{course.value.length | courseDuration}}</span>
    </div>
  </div>
  <div class="form-group">
    <label for="courseAuthors">Authors</label>
    <input type="text" id="courseAuthors" class="form-control">
  </div>

  <div class="form-buttons">
    <button [disabled]="course.invalid" (click)="save()" class="btn btn-dark save-button" type="button">Save</button>
    <button (click)="cancel()" class="btn btn-outline-secondary cancel-button" type="button">Cancel</button>
  </div>
</form>
